<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.iigservices.cordova.plugin" version="0.0.4" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>SignaturePrinter</name><js-module name="SignaturePrinter" src="www/SignaturePrinter.js"><clobbers target="cordova.plugins.SignaturePrinter" /></js-module><platform name="android"><config-file parent="/*" target="config.xml"><feature name="SignaturePrinter"><param name="android-package" value="com.iigservices.cordova.plugin.SignaturePrinter" /></feature></config-file><source-file src="src/android/SignaturePrinter.java" target-dir="src/com/iigservices/cordova/plugin/SignaturePrinter" /></platform></plugin>